{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
 <!-- <link rel="stylesheet" href="../../static/weather/vendors/css/normalize.css" type="text/css"> -->
  
</head>
<body>
	<!-- your comparison interface here -->
  My Cities
  
  <div class="main-city container" style="border:1px solid #cecece;">
    <div class="row">
      <div class="col-6">
        Home
        <br>
        img
        <br>
        Partly Cloudy
        <br>
        Rain: 0%
        <br>
        Humidity: 88%
      </div>
      <div class="col-6">
        Berkeley
        73
        Partly Cloudy
        Rain: 0%
        Humidity: 88%
      </div>
    </div>
  </div>
  
  <div class="other-cities container padding" style="border:1px solid #cecece;">
    <div class="row">
      <div class="col-6" style="border:1px solid #cecece;">
        New York
      </div>
      <div class="col-6" style="border:1px solid #cecece;">
        Sydney
      </div>
    </div>
    
    <div class="row">
      <div class="col-6" style="border:1px solid #cecece;">
      Taipei
    </div>
    <div class="col-6" style="border:1px solid #cecece;">
      Add...
    </div>
    </div>
  </div>
  
  
  
  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
  
</body>
</html>
